<p-dialog
  *ngIf="active"
  [(visible)]="visible"
  (onHide)="close()"
  [modal]="true"
  [style]="{ width: '900px', maxWidth: '95vw' }"
  [maximizable]="true"
  [draggable]="false"
  [resizable]="false"
  [closeOnEscape]="true"
  [dismissableMask]="false"
  header="{{ 'AuditLogDetail' | localize }}">
  <div *ngIf="auditLog" class="modal-body">
    <h3 class="form-section">{{ 'UserInformations' | localize }}</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group m-form__group row">
          <span class="col-lg-3 col-form-label">{{ 'UserName' | localize }}:</span>
          <div class="col-lg-9">
            <span>{{ auditLog.userName }}</span>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <span class="col-lg-3 col-form-label">{{ 'IpAddress' | localize }}:</span>
          <div class="col-lg-9">
            <span>{{ auditLog.clientIpAddress }}</span>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <span class="col-lg-3 col-form-label">{{ 'Client' | localize }}:</span>
          <div class="col-lg-9">
            <span>{{ auditLog.clientName }}</span>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <span class="col-lg-3 col-form-label">{{ 'Browser' | localize }}:</span>
          <div class="col-lg-9">
            <span>{{ auditLog.browserInfo }}</span>
          </div>
        </div>
        <div class="form-group m-form__group row" *ngIf="auditLog.impersonatorUserId">
          <span class="col-lg-3 col-form-label"></span>
          <div class="col-lg-9 text-warning">
            <span>{{ 'AuditLogImpersonatedOperationInfo' | localize }}</span>
          </div>
        </div>
      </div>
    </div>

    <h3 class="form-section">{{ 'ActionInformations' | localize }}</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group m-form__group row">
          <span class="col-lg-3 col-form-label">{{ 'Service' | localize }}:</span>
          <div class="col-lg-9">
            <span>{{ auditLog.serviceName }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group m-form__group row">
          <span class="col-lg-3 col-form-label">{{ 'Action' | localize }}:</span>
          <div class="col-lg-9">
            <span>{{ auditLog.methodName }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group m-form__group row">
          <span class="col-lg-3 col-form-label">{{ 'Time' | localize }}:</span>
          <div class="col-lg-9">
            <span>{{ getExecutionTime() }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group m-form__group row">
          <span class="col-lg-3 col-form-label">{{ 'Duration' | localize }}:</span>
          <div class="col-lg-9">
            <span>{{ getDurationAsMs() }}</span>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <span class="col-lg-3 col-form-label">{{ 'Parameters' | localize }}:</span>
          <div class="col-lg-9">
            <div class="d-flex justify-content-end mb-1">
              <button type="button" pButton icon="pi pi-copy" class="p-button-sm p-button-text" [pTooltip]="'Copy' | localize" (click)="copyToClipboard(getFormattedParameters())"></button>
            </div>
            <pre class="code-block">{{ getFormattedParameters() }}</pre>
          </div>
        </div>
      </div>
    </div>

    <h3 class="form-section">{{ 'CustomData' | localize }}</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group m-form__group row">
          <span class="col-lg-3 col-form-label">{{ 'CustomData' | localize }}:</span>
          <div class="col-lg-9">
            <div class="d-flex justify-content-end mb-1" *ngIf="auditLog.customData">
              <button type="button" pButton icon="pi pi-copy" class="p-button-sm p-button-text" [pTooltip]="'Copy' | localize" (click)="copyToClipboard(getFormattedCustomData())"></button>
            </div>
            <pre class="code-block" *ngIf="auditLog.customData">{{ getFormattedCustomData() }}</pre>
            <span *ngIf="!auditLog.customData">{{ 'None' | localize }}</span>
          </div>
        </div>
      </div>
    </div>

    <h3 class="form-section">{{ 'ErrorState' | localize }}</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group m-form__group row">
          <span *ngIf="!auditLog.exception" class="col-lg-12 col-form-label">
            <i class="fa fa-check-circle m--font-success"></i> {{ 'Success' | localize }}
          </span>
          <div *ngIf="auditLog.exception" class="col-lg-12">
            <div class="d-flex justify-content-end mb-1">
              <button type="button" pButton icon="pi pi-copy" class="p-button-sm p-button-text" [pTooltip]="'Copy' | localize" (click)="copyToClipboard(getFormattedException())"></button>
            </div>
            <pre class="code-block">{{ getFormattedException() }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button type="button" pButton label="{{ 'Close' | localize }}" (click)="close()"></button>
  </ng-template>
</p-dialog>
